.middle{
    margin: 30px 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #EBEAFA;
    color: rgba(86,43,149,1);
    font-family: 'Work Sans', sans-serif;
    padding: 30px 0px;
}
h3{
    font-size: 25px;
    font-weight: 600 !important;
    margin-bottom: 30px;
}
.customerRelation{
    width: 46%;
}
.middleButtons{
    display: flex;
    justify-content: space-between;
    width: 27%;
}
.middle button{
    border-radius: 30px;
    padding: 10px 20px;
}
.trial{
    background: linear-gradient(90deg, rgba(73,62,216,1) 0%, rgba(86,43,149,1) 100%);
    border: none ;
    color: white;
}
.contact{
    background: #EBEAFA;
    border: 2px solid rgba(86,43,149,1);
    color: rgba(86,43,149,1);
}