.navButton{
    border-radius: 30px;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid white;
    color: white;
    width: max-content;
}

@media screen and (min-width: 800px) {
    .navButton{
        width: max-content;
    }
}