.payment{
    margin: 50px 0px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;

}
.paymentCard{
    width: 30%;
    border-radius: 20px !important;
    padding: 10px 5px 30px;
    text-align: left;
    color: white;
    border: none;
}
.paymentCard-table tr td{
    padding: 15px 5px;
    border: none;
}
.paymentCard button{
    border-radius: 30px;
    padding: 7px 25px;
    margin: 58px 50px 0px;
}
.Lite{
    background: transparent;
    color: white;
    border: 2px solid white !important;
}

.list{
    margin-left: 5px;
}


@media screen and (max-width: 800px) {
    .payment{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .paymentCard{
        width: auto;
        margin: 10px 0px;
    }
}